* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: rgb(121, 121, 121);
}
h1,
h2 {
  color: rgba(122, 16, 48, 0.992);
}
.btn {
  font: inherit;
  padding: 0, 5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: brown;
  color: azure;
  border: 1px solid brown;
  margin: 0 1rem;
}
.btn:hover {
  background-color: gold;
  border-color: gold;
}
.btn--alt {
  background-color: transparent;
  color: brown;
}
.btn--alt:hover {
  background-color: blue;
}
.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
  margin: 15px;
  border: 2px solid black;
}
.actions {
  text-align: right;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1 rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
#loginBox {
    background-color: darkgrey;
    margin: auto;
    width: 35%;
    border: 2px solid black;
    padding: 10px;
}
